on:
  release:
    types: [created]

name: Release Packaging

jobs:
  cargo-release:
    runs-on: ubuntu-latest
    strategy:
        fail-fast: false
    steps:
        - uses: actions/checkout@v2
        - uses: actions-rs/toolchain@v1
          with:
              toolchain: stable
              profile: minimal
              override: true
        - uses: katyo/publish-crates@v1
          with:
              registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
              args: --allow-dirty

  github-release:
    runs-on: ubuntu-latest
    strategy:
        fail-fast: false
    steps:
        - uses: actions/checkout@v3
        - name: Add changelog
          id: changelog
          uses: mindsers/changelog-reader-action@v2.0.0
        - name: Edit Release
          uses: irongut/EditRelease@v1.2.0
          with:
              token: ${{ secrets.GITHUB_TOKEN }}
              id: ${{ github.event.release.id }}
              body: ${{ steps.changelog.outputs.changes }}
              replacebody: true